<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.mohsinhussain.madeinpakistan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.e.mohsinhussain.madeinpakistan.SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.e.mohsinhussain.madeinpakistan.Webview" />
        <activity android:name="com.e.mohsinhussain.madeinpakistan.TermsAndConditionActivity" />
        <activity android:name="com.e.mohsinhussain.madeinpakistan.PrivacyActivity" />
        <activity android:name="com.e.mohsinhussain.madeinpakistan.MainActivity" />
        <activity android:name="com.e.mohsinhussain.madeinpakistan.FirstListView" />
        <activity android:name="com.e.mohsinhussain.madeinpakistan.StoresActivity" />
        <activity android:name="com.e.mohsinhussain.madeinpakistan.SecondListViewActivity" />




        <service android:name="com.e.mohsinhussain.madeinpakistan.NotificationClass">
            android:enabled="true"
            android:exported="true"
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.e.mohsinhussain.madeinpakistan.fcmInstanceIdServiceClass">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.e.mohsinhussain.madeinpakistan.ThirdListViewActivity" />
        <activity android:name="com.e.mohsinhussain.madeinpakistan.Main2Activity"></activity>
    </application>

</manifest>